* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

.container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0px 0px 100px;
}

.logo {
   font-size: 32px; 
   font-weight: bolder;
}

.logo p:hover {
    scale: 1.2;
    transition: 0.3s;
    color: #00000099;
    cursor: pointer;
}

.nav-links {
    display: flex;
    gap: 24px;
}

.nav-links a {
    font-size: 18px;
    text-decoration: none;
}

.nav-links a:hover {
    scale: 1.05;
    transition: 0.3s;
    color: #00000099;
}

.nav-input i {
    position: absolute;
    z-index: 1;
    /* left: 10px; */
    margin-left: 530px;
    margin-top: 16px;
    font-size: 18px;
    cursor: pointer;
}

.nav-input i:hover {
    scale: 1.05;
    transition: 0.3s;
    color: #00000099;;
}

.nav-input input {
    height: 50px;
    width: 580px;
    border-radius: 62px;
    border: 1px solid #00000099;
    font-size: 18px;
    position: relative;
    /* margin-left: 10px; */
}

.icon {
    font-size: 24px;
    display: flex;
    gap: 14px;
    
}

.icon i:hover {
    scale: 1.05;
    transition: 0.3s;
    color: #00000099;
    cursor: pointer;
}

.line-1 {
    height: 1px;
    margin-top: 24px;
    width: 93%;
    margin-left: 100px;
    background-color: #0000001A;
}

.container-2 {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 24px 0px 0px 100px;

}

.main-links {
    display: flex;
    /* align-items: center; */
    gap: 12px;
    font-size: 18px;
}

.main-links p {
    display: flex;
    align-items: center;
    gap: 12px;
}

.main-links p:hover {
    scale: 1.05;
    transition: 0.3s;
    color: #00000099;
    cursor: pointer;
}

.left-side {
    display: flex;
    margin-top: 36px;
    gap: 14px;
}

.column-imgs img {
    display: flex;
    /* gap: 100px; */
    border-radius: 24px;
    margin-bottom: 14px;
    /* margin-top: 10px; */
    flex-direction: column;
    height: 175px;
}

.column-imgs img:hover {
    scale: 1.01;
    transition: 0.3s;
    box-shadow: 10px 10px 10px;
    color: #00000099;
    cursor: pointer;
}

.big-img img {
    border-radius: 24px;
    height: 555px;
}

.raiting {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 24px;
    margin-top: 14px;
}

.raiting i {
    color: orange;
}

.raiting span {
    color: #00000099;
}

.all-sides {
    display: flex;
    /* align-items: center; */
}

.right-side {
    margin-top: 36px;
    margin-left: 40px;
}

.text-1 {
    font-size: 45px;
    font-weight: bolder;
}

.old-new-discount {
    display: flex;
    margin-top: 15px;
    gap: 30px;
    font-size: 32px;
}

.old-price {
    color: #00000099;
    text-decoration: line-through;
}

.old-price p {
    color: #00000099;
}

.discount-price {
    display: flex;
    align-items: center;
}

.discount-price button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 85px;
    border-radius: 62px;
    border: none;
    background-color: #FF33331A;
    color: #FF3333;
    font-size: 18px;
}

.discount-price button:hover {
    scale: 1.05;
    transition: 0.3s;
    cursor: pointer;
}

.ob-explanation {
    margin-top: 20px;
}

.ob-explanation p {
    color: #00000099;
}

.line-2 {
    margin-top: 24px;
    height: 1px;
    width: 100%;
    background-color: #0000001A;
}

.select p {
    margin-top: 24px;
    font-size: 18px;
    color: #00000099;
}

.ob-colors {
    display: flex;
    align-items: center;
    gap: 16px;
}

.ob-colors div {
    height: 37px;
    width: 37px;
    margin-top: 16px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.brown-c {
    background-color: #4F4631;
}

.brown-c i {
    color: white;
}

.ob-colors div:hover {
    scale: 1.05;
    transition: 0.3s;
    cursor: pointer;
}

.darkgreen-c {
    background-color: #314F4A;
}

.navy-c {
    background-color: #31344F;
}

.line-3 {
    margin-top: 24px;
    height: 1px;
    width: 100%;
    background-color: #0000001A;
}

.size p {
    font-size: 18px;
    margin-top: 24px;
    color: #00000099;
}

.size-btn {
    display: flex;
    gap: 12px;
}

.size-btn button {
    margin-top: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 90px;
    border-radius: 62px;
    border: none;
    font-size: 18px;
    color: #00000099;
}

.size-btn button:hover {
    scale: 1.05;
    transition: 0.3s;
    background-color: black;
    color: white;
    cursor: pointer;
}

.line-4 {
    height: 1px;
    width: 100%;
    margin-top: 24px;
    background-color: #0000001A;
}

.count-and-cart {
    display: flex;
    margin-top: 24px;
    gap: 20px;
}

.count-btn button {
    /* margin-top: 24px; */
    height: 50px;
    width: 180px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 62px;
    border: none;
    font-size: 18px;
}

.count-btn button i {
    cursor: pointer;
}

.cart-btn button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 400px;
    border-radius: 62px;
    border: none;
    font-size: 18px;
}

.cart-btn button:hover {
    scale: 1.05;
    transition: 0.3s;
    color: white;
    background-color: black;
    cursor: pointer;
}

.user-select {
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.all p{
    font-size: 20px;
    color:#00000099;
}

.all p:hover {
    scale: 1.05;
    transition: 0.3s;
    color: black;
    cursor: pointer;
}

.line-5 {
    height: 1px;
    width: 100%;
    margin-top: 24px;
    background-color: #0000001A;
}

.all-reviews {
    margin-top: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text-2 {
    display: flex;
    align-items: center;
    gap: 8px;
}

.text-2 p {
    color: #00000099;
}

.btns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.first-btn button {
    height: 48px;
    width: 48px;
    border-radius: 50%;
    border: none;
    font-size: 18px;
}

.second-btn button {
    height: 48px;
    width: 120px;
    border-radius: 62px;
    border: none;
    font-size: 18px;
}

.third-btn button {
    height: 48px;
    width: 170px;
    border-radius: 62px;
    border: none;
    font-size: 18px;
    background-color: black;
    color: white;
}

.btns button:hover {
    scale: 1.05;
    transition: 0.3s;
    cursor: pointer;
}

.coment-1-2 {
    display: flex;
    justify-content: space-between;
}
.coment-3-4 {
    display: flex;
    justify-content: space-between;
}

.coment-5-6 {
    display: flex;
    justify-content: space-between;
}

.coment {
    height: 225px;
    width: 660px;
    border: 1px solid #00000099;
    border-radius: 24px;
    margin-top: 20px;
    padding: 28px 32px;
}

.star-point {
    display: flex;
    justify-content: space-between;
}

.star {
    display: flex;
    align-items: center;
}

.star i {
    color: orange;
    font-size: 20px;
}

.point {
    font-size: 20px;
}

.point i:hover {
    scale: 1.05;
    transition: 0.3s;
    color: #00000099;
    cursor: pointer;
}

.name-true {
    display: flex;
    align-items: center;
    margin-top: 15px;
    gap: 10px;
}

.name {
    font-size: 20px;
    font-weight: bold;
}

.true {
    height: 24px;
    width: 24px;
    border-radius: 50%;
    background-color: #01AB31;
    display: flex;
    justify-content: center;
    align-items: center;
}

.true i {
    color: white;
}

.user-think {
    margin-top: 12px;
}

.user-think p {
    color: #00000099;
}

.user-date p {
    margin-top: 24px;
    color: #00000099;
    font-size: 18px;
}

.view-more-btn {
    margin-top: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.view-more-btn button {
    height: 55px;
    width: 230px;
    border-radius: 62px;
    border: 1px solid #00000099;
    background-color: white;
    font-size: 18px;
}

.view-more-btn button:hover {
    scale: 1.05;
    transition: 0.3s;
    color: white;
    background-color: black;
    border: none;
    cursor: pointer;
}

.text-3 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-3 p {
    font-size: 48px;
    font-weight: bolder;
    margin-top: 64px;
}

.clothes-1 img {
    height: 300px;
    width: 295px;
    border-radius: 24px;
}

.sell-section {
    margin-top: 55px;
}

.clothes-2 img {
    height: 300px;
    width: 295px;
    border-radius: 24px;
}

.clothes-3 img {
    height: 300px;
    width: 295px;
    border-radius: 24px;
}

.clothes-4 img {
    height: 300px;
    width: 295px;
    border-radius: 24px;
}

.clothes {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.clothes img:hover {
    scale: 1.01;
    transition: 0.3s;
    box-shadow: 10px 10px 10px;
    color: #00000099;
    cursor: pointer;
}

.clothes-name {
    display: flex;
    /* align-items: center; */
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
}

.clothes-raiting {
    display: flex;
    align-items: center;
    margin-top: 10px;
    /* gap: 10px; */
}

.clothes-raiting i {
    color: orange;
    display: flex;
    font-size: 18px;
    /* gap: ; */
}

.ob-rait {
    margin-left: 13px;
    font-size: 14px;
}

.ob-rait span {
    color: #00000099;
}

.new-old-discount {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.new-old-discount p {
    font-size: 24px;
    font-weight: bold;
}

.subcribe-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 64px;
    height: 180px;
    width: 100%;
    background-color: black;
    border-radius: 24px;
    margin-top: 80px;
}

.text-4 p {
    font-size: 40px;
    font-weight: bolder;
    color: white;
    display: flex;
    align-items: center;
}

.sub-input input {
    height: 50px;
    width: 350px;
    border-radius: 62px;
    border: none;
    color: #00000099;
    position: relative;
    font-size: 18px;
}

.sub-input i {
    position: absolute;
    z-index: 1;
    color: black;
    margin-left: 310px;
    margin-top: 16px;
}

.sub-input i:hover {
    scale: 1.05;
    transition: 0.3s;
    color: #00000099;
    cursor: pointer;
}

.sub-btn {
    margin-top: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sub-btn button {
    height: 50px;
    width: 350px;
    border-radius: 24px;
    border: none;
    background-color: black;
    color: white;
    font-size: 18px;
}

.sub-btn button:hover {
    scale: 1.05;
    transition: 0.3s;
    color: black;
    background-color: white;
    cursor: pointer;
}

.all-footer {
    height: 300px;
    width: 100%;
    background-color: #F0F0F0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer-logo p {
    font-size: 50px;
    font-weight: bolder;
}

.footer-exp {
    margin-top: 25px;
}

.footer-exp p {
    font-size: 18px;
    color: #00000099;
}

.footer-switch {
    margin-top: 35px;
    display: flex;
    align-items: center;
    gap: 12px;
}

.footer-switch button {
    height: 28px;
    width: 28px;
    border-radius: 50%;
    border: none;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-switch button:hover {
    scale: 1.05;
    transition: 0.3s;
    background-color: black; 
    cursor: pointer;
}

.footer-switch i:hover {
    color: white;
    background-color: black;
}

.right-footer {
    display: flex;
    gap: 120px;
    margin-top: 15px;
}

.footer-text p {
    font-size: 20px;
    color: black;
}

.footer-logo p:hover {
    scale: 1.2;
    transition: 0.3s;
    color: #00000099;
    cursor: pointer;
}

.links {
    margin-top: 26px;
}

.links p {
    margin-top: 20px;
    color: #00000099;
    font-size: 18px;
}

.links p:hover {
    scale: 1.05;
    transition: 0.3s;
    color: black;
    cursor: pointer;
}

@media (max-width: 768px) {
.navbar {
    flex-wrap: wrap;
    gap: 12px;
}

.nav-links {
    display: none;
}

.nav-input {
    width: 100% ;
}

.nav-input input {
    width: 100%;
}
}

@media (max-width: 768px) {
.all-sides {
    flex-direction: column;
}

.left-side {
    flex-direction: column-reverse;
    align-items: center;
}

.column-imgs {
    display: flex;
    gap: 12px;
    flex-direction: row;
}

.right-side {
    width: 100%;
}
}